
<h1 style="color:blue;">Insert data</h1>
<br>

<form action="/productos" method="post">

    <div class="form-group">
        <label for="nombre"><b>Id</b></label>
        <input id="nombre" class="form-control" type="text" name="id">
    </div>

    <div class="form-group">
        <label for="apellido"><b>Title</b></label>
        <input id="apellido" class="form-control" type="text" name="title">
    </div>

    <div class="form-group">
        <label for="edad"><b>Price</b></label>
        <input id="edad" class="form-control" type="number" name="price">
    </div>

    <div class="form-group">
        <label for="edad"><b>Thumbnail</b></label>
        <input id="edad" class="form-control" type="number" name="thumbnail">
    </div>

    <button class="btn btn-success mt-3 mb-5">Send</button>
    <a class="btn btn-primary mt-3 mb-5" href="http://localhost:8080/products" role="button">Products list</a>
</form>